*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
/* con box-sizing le estamos diciendo al navegador que tome el ancho de nuestra página*/

body{
    background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
}

h1,
h2,
h3,
h4{
    font-family: 'Lato', sans-serif;
}

p,
li,
label,
input, 
button, 
textarea{
    font-family: 'Lato', sans-serif;
    color: #7f7f7f;
    font-size: 17px;
}

a{
    text-decoration: none;
    color: lightslategray;
}

ul{
    list-style: none;
}

h1{
    font-size: 38px;
    padding: 10px;
}

h2{
    font-size: 30px;
    text-align: center;
    margin: 20px 0 10px;
}

/* margin: 20px de arriba, 0 de los costados, 10px de abajo*/

h3{
    font-size: 24px;
}

h4{
    font-size: 20px;
}

header{
    margin-bottom: 15px;
    padding: 10px;
    background-image: linear-gradient(to top, #dad4ec 0%, #dad4ec 1%, #f3e7e9 100%);
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
}

nav{
    overflow: hidden;
}

nav h1,
nav ul{
    display: inline;
}

nav ul li{
    float: right;
    padding: 10px;
    font-size: 20px;
    margin-left: 20px;
}

section{
    margin: 0 auto;
}

.poster{
    width: 200px;
}

.main-container{
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding: 10px;
    position: relative;
}
/* position: relative. Le dice que es parte de la página, es decir, debe mostrarse como tal*/

.main-container div{
    display: inline-block;
    text-align: right;
    width: 450px;
}

/* display: inline-block. Que se muestre en bloque y a la vez ocupe todo el espacio */

.main-container div h4{
    margin-top: 5px;
}

#descripcion-destacado{
    text-align: left;
}

#izquierda{
    text-align: left;
}

.favoritos-container{
    position: relative;
    text-align: center;
    width: 100%;
}

.favorito{
    display: inline-block;
    text-align: center;
    margin: 20px;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
}

.peliculas{
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 10px;
    width: 610px;
    margin: 20px auto;
}

.peliculas-container{
    position: relative;
    width: 100%;

}

.peliculas-container div{
    display: inline-block;
    width: 280px;
    text-align: center;
}

.derecha{
    text-align: left;
}

#peliculas h3{
    text-align: center;
}

.peliculas-botones{
    text-align: center;

}

.peliculas-botones button{
    margin-left: 5px;
    padding: 5px 10px;
}

#formulario{
    display: block;
    width: 500px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.3);
    margin-bottom: 50px;
    background-color: #cbc0ea;
}

#formulario textarea{
    height: 100px;
    font-size: 14px;
    width: 100%;
}

.info{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #4b5156;
    font-size: 14px;
}

#enviar{
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
}

footer{
    background-color: #cbc0ea;
    text-align: center;
    padding: 15px;
    color: #4b5156;
    font-family: 'Lato', sans-serif;
}
